body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #f06a19;
  overscroll-behavior: none;
}

.box {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  cursor: pointer;
  outline: none;
}

.box img {
  margin: -5px;
  width: 150px;
  height: auto;
}

.tickets {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%) scale(0.1);
  z-index: 10;
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  width: 120px;
}

.tickets.animated {
  transform: translateX(-50%) translateY(-100px) scale(1);
  opacity: 1;
}

.lid {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(5% + 120px);
}

.lid img {
  width: 150px;
  height: auto;
}

.jump {
  animation: 1s jump infinite alternate;
}

.move {
  animation: 1s wiggle infinite linear;
}

.rotating {
  animation: 1s rotating;
}

.rotated {
  transform: rotate(145deg) translateX(-50%);
}

@keyframes wiggle {
  10%,
  90% {
    transform: translateX(-50%) translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translateX(-50%) translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translateX(-50%) translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translateX(-50%) translate3d(4px, 0, 0);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg) translateX(-50%);
  }

  100% {
    transform: rotate(145deg) translateX(-50%);
  }
}

@keyframes jump {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-50%) translateY(-100px);
  }
}